# this workflow is mainly a demo of how you can use the script/tarball command to create a tarball of the repo/project
# adapt this to your own needs

name: tarball

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  tarball:
    name: tarball
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v6

      - uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # pin@v1.288.0
        with:
          bundler-cache: true

      - name: tarball
        run: script/tarball

      - name: tarball test
        run: spec/acceptance/tarball-test
